*{
    font-family: 'Roboto Condensed',sans-serif;
}
.logo{
width: 120px;
margin-left: 50px;
    margin-top: 20px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
display: flex;
margin-right: 60px;
list-style-type: none;
font-size: large;
}

.links{
    
    text-decoration: none;  
    font-weight: bold;
    color: black;
    margin-left: 10px;
}
.links:hover{
    color: red;
}
#home{
    margin-top: 100px;
}
.title{
    margin-top: 13%;
    margin-left: 6%;
}
p{
    font-weight: bold;
}
.title-1{
    font-size: 50px;
    margin-bottom: 20px;
}
.jon{
    color: orangered;
}
.download{
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    margin: 30px 0px;
}
.images{
    position: absolute;
    height: 80%;
    width: 45%;
    bottom: 0px;
    right: 30px;
}
.images img{
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    transition: bottom 1s,left 1s;
}
.images:hover .shape{
bottom: 70px;
}
.images:hover .girl{
    left: 40%;
    }
.about{
    margin-top: 200px;
}
.heading{
    text-align: center;
margin-top: 50px;
}
.heading h3{
    color: green;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
    margin-left: 10px;
    gap: 2rem;
    display: flex;
    text-align: justify;   
}
.icons span{
    font-weight: bold;
    margin-left: 5px;

}
.about_image{
    margin-top: -75px;
    /* width: -75px; */
}
/* skill section */
.progressbar{
    font-weight: bold;
    margin-top: 60px;
    margin-left: 100px;
    display: flex;
}
.perc{
    margin-left: 340px;
}
.bar{
    display: flex;
}
.yellow{
    margin-top: 20px;
    background-color: yellow;
    height: 5px;
    width: 380px;
    border-radius: 1px;
}
.black{
    margin-top: 20px;
    background-color: black;
    height: 5px;
    width: 37px;
    border-radius: 1px;
    
}
.angular{
    margin-top: 60px;
}
.perc1{
    margin-left: 300px;
}
.yellow1{
    margin-top: 20px;
    background-color: yellow;
    height: 5px;
    width: 360px;
    border-radius: 1px;
}
.black1{
    margin-top: 20px;
    background-color: black;
    height: 5px;
    width: 55px;
    border-radius: 1px;
    
}

.js{
    margin-top: 60px;
}
.perc2{
    margin-left: 360px;
}
.yellow2{
    margin-top: 20px;
    background-color: yellow;
    height: 5px;
    width: 360px;
    border-radius: 1px;
}
.black2{
    margin-top: 20px;
    background-color: black;
    height: 5px;
    width: 54px;
    border-radius: 1px;
    
}
.css{
    margin-top: 60px;
}
.perc3{
    margin-left: 350px;
}
.yellow3{
    margin-top: 20px;
    background-color: yellow;
    height: 5px;
    width: 343px;
    border-radius: 1px;
}
.black3{
    margin-top: 20px;
    background-color: black;
    height: 5px;
    width: 74px;
    border-radius: 1px;
    
}
.skillimg{
    margin-left: 200px;
}

/* contact  */

/* .heading{
    text-align: center;
}
.my-contacts{
    color: green;
    font-weight:10px
} */
.icon-set{
    display:flex;
    justify-content: center;
    margin-top: 3%;
    align-items: center;
}
.icon, .up-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon i{
    font-size: 30px;
    color: black;
}
.icon:hover{
    background-image: linear-gradient(to bottom right ,yellow,red);
}
.icon:hover i{
    color: white;
    animation: shake 0.75s;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
}
    
/* footer  */
.footer{
    margin: 2rem 0px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.rights{
    text-align: center;
    margin-top: 20px;
}
.ua:hover{
    color: black;
    background-color: rgb(0, 255, 234);
    
} 
.ua{
    border-radius: 50%;
    float: right;
    background-color: black;
    color:white;
    margin: 0px 10px 50px 0px;
    text-decoration: none;
}